{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig" data-smooth-scroll-offset="77">
		{% block navigation %}
			{% include 'navigation.twig' %}
		{% endblock %}

		<div class="main-container">
			{% block content %}
			{% endblock %}
		</div>

		{% block footer %}
			{% include 'footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
