<footer class="space--sm footer-2 bg--dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-3">
        <h6 class="type--uppercase">{{footer.name_title}}</h6>
        <p class="footer-copy">
          {{footer.info_text}}
        </p>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <h6 class="type--uppercase">{{footer.contact_title}}</h6>
        <ul class="list--hover">
            <li>{{address.acf_footer_street}}</li>
            <li>{{address.acf_footer_zip}} {{address.acf_footer_city}}</li>
            <li>{{address.acf_footer_country}}</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3">
        <h6 class="type--uppercase">&nbsp;</h6>
        <ul class="list--hover">
            <li><a href="mailto:{{footer.email}}">{{address.acf_footer_email}}</a></li>
            <li><a href="tel:{{address.acf_footer_phone}}">{{address.acf_footer_phone}}</a></li>
            <li><a href="{{address.acf_footer_link_url}}">{{address.acf_footer_link_text}}</a></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3">
        <h6 class="type--uppercase">&nbsp;</h6>
        <ul class="">
            <li>
                <a href="/">
                  <img class="logo logo-dark logo-footer" alt="logo" src="{{ site.theme.link }}/assets/images/arctos-logo.png">
                </a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</footer>