<div class="nav-container">
  <div class="via-1570039299478" via="via-1570039299478" vio="Arctos Navigation">
    <div class="bar bar--sm visible-xs visible-sm mobile--dark">
      <div class="container">
        <div class="row">
          <div class="col-3 col-md-2">
            <a href="{{ site.link }}">
              <img class="logo logo-dark" alt="logo" src="{{ site.theme.link }}/assets/images/arctos-logo.png">
              <img class="logo logo-light" alt="logo" src="{{ site.theme.link }}/assets/images/arctos-logo.png">
            </a>
          </div>
          <div class="col-9 col-md-10 text-right">
            <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm">
              <i class="icon icon--sm stack-interface stack-menu"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <nav id="menu1" class="bar bar-1 hidden-xs hidden-sm bg--dark {{menu_class}}">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-3 hidden-xs hidden-sm">
            <div class="bar__module">
              <a href="{{ site.link }}">
                <img class="logo logo-dark" alt="logo" src="{{ site.theme.link }}/assets/images/arctos-logo.png">
                <img class="logo logo-light" alt="logo" src="{{ site.theme.link }}/assets/images/arctos-logo.png">
              </a>
            </div>
          </div>
          <div class="col-lg-10 col-md-12 text-right text-left-xs text-left-sm">
            <div class="bar__module">
              {% include 'menu.twig' with { 'menu' : menu } %}
            </div>
            <div class="bar__module">
              <a class="btn btn--sm btn--primary type--uppercase" href="{{contact_button.url}}">
                <span class="btn__text">{{contact_button.text}}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>