/*! Place your custom styles here */


.feature-2 {
    height: 100%;
}

.brand--color {
    color: #f18f01 !important;   
}

h1, h2, h3, h4, h5 {
    font-weight: 800;
}

p b {
    color: #333;
    font-weight: 900;
}

.footer-copy {
    font-size: 82%;
    padding-top: 7px;
    line-height: 1.8;
    padding-bottom: 2em;
}

img.logo-footer {
    width: 70%;
    margin: 0 auto;
    max-height: 100%;
    max-width: 200px;
}

.phone--number {
    background: url(../images/mdi_phone_android@2x.png) no-repeat 0 50%;
    background-size: 24px;
    padding: 0 0 0 28px;
    text-align: left;
    font-weight: bold;
}

.read--more--link, .read--more--link:visited, .read--more--link:active {
    display: inline-block;
    margin-top: 1em;
    text-decoration: none;
    background: url(../images/arrow-left@2x.png) no-repeat right 50%;
    background-size: 24px;
    padding: 0 28px 0 0;
    text-align: left;
    font-weight: bold;
    color: #333;
}

.read--more--link:hover {
    color: #f18f01 !important;   
    text-decoration: none;
}

.feature--centered {
    position: absolute;
    top: 50%;
    margin-top: -1.6em;
    width: 100%;
    text-align: center;
}

.feature--centered p.lead {
    display: black;
    margin: 0 auto;
    color: #fff;
    padding-left: 2em;
    padding-right: 2em;
    font-weight: 800;
    line-height: 1.4;
}

.feature-cut {
    margin-bottom: 0 !important;
    position: relative;
}

.feature-cut > img:first-child {
    border-radius: 6px;
    }

.mobile--dark {
    background: #252525;
}

.mobile--dark .hamburger-toggle i {
    color: #aaa;
}

.featured-container {
    padding-top: 3em;
    margin-top: -15em;
}

.front-cover {
    padding-bottom: 3em;
}

.grey-barrier {
    background: #ebebeb; 
    min-height: 18em;
}