<section class="grey-barrier"></section>
<section class="featured-container">
  <div class="container">
    <div class="row">
        <div class="col text-center">
            <h3>{{section_title}}</h3>
        </div>
    </div>
    <div class="row">
      {% for box in boxes %}
        <div class="col-lg-3 col-md-6 col-sm-6" style="margin-bottom: 2em;">
          <div class="feature feature-2 boxed boxed--border bg--white">
            <div class="feature__body" style="widtH: 100%;">
              <h4 class="brand--color">{{box.acf_fc_feature_box_title}}</h4>
              <p>
                {{box.acf_fc_feature_box_text}}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
