<section class="hero-section cover cover-features imagebg space--lg {{text_alignment}}" data-overlay="3">
  <div class="background-image-holder" style="background: url({{hs_image}}); opacity: 1;"></div>
  <div class="container front-cover">
    <div class="row {{row_class}}">
      <div class="col-md-9 col-lg-7">
        <p class="">{{hs_small_text_above}}</p>
        <h1><b>{{hs_large_text}}</b></h1>
        <p class="add">{{hs_small_text_below}}</p>
        {% if hs_button %}
          <a class="btn btn--primary type--uppercase" href="{{hs_button['url']}}" target="{{hs_button['target']}}">
            <span class="btn__text">{{hs_button['title']}}</span>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>