<section class="imageblock switchable feature-large {{ (sis_position == 'right') ? 'switchable--switch' : 'space--sm' }} bg--secondary">
  <div class="imageblock__content col-lg-6 col-md-4 pos-right">
    <div class="background-image-holder" style="background: url({{sis_image}}); opacity: 1;"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-7 {{ (sis_position == 'left') ? 'mt--2' : '' }}">
        {{sis_text}}
      </div>
    </div>
  </div>
</section>