<section class="text-center">
  <div class="container">
    <div class="row">
      {% for person in the_team %}
        <div class="col-md-4">
          <div class="feature feature-9">
            <img class="border--round" alt="Image of {{person.acf_tts_team_name}}" src="{{person.acf_tts_team_image.sizes.team_image}}">
            <h4>{{person.acf_tts_team_name}}</h4> <span>{{person.acf_tts_team_title}}</span>
            <p style="text-align: left; margin-top: 1em;">
              {{person.acf_tts_team_text}}
            </p> 
            <p class="phone--number">
              {{person.acf_tts_team_phone}}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>