<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h2>{{vs_title}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-10">
        <div class="video-cover border--round">
          <div class="background-image-holder" style="background: url({{vs_video_image}}); opacity: 1;"></div>
          <div class="video-play-icon"></div>
          <iframe data-src="{{vs_video_url}}" allowfullscreen="allowfullscreen"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>